body {
  background-color: #f3f3f3 !important;
  background-image: url('../pic/always-grey.png');
  font-size: 2em            !important;
}

h1 {
  font-family: 'Bangers'  !important;
  font-size: 3em          !important;
  padding-bottom: 5px     !important;
  text-align: center      !important;
}

h2 {
  color: #505050        !important;
  font-family: 'Roboto' !important;
  font-size: 1.5em      !important;
  font-weight: 500      !important;
  text-align: center    !important;
}

h3 {
  font-family: 'Roboto' !important;
  font-size: 2.5em;
}

h4 {
  font-family: 'Roboto' !important;
  font-size: 2.5em;
}

/* Search */
.search {
  background-color: #ffd600;
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 20px 5px;
  text-align: center;
}

.search-pad {
  color: #b9b9b9;
  padding: 15px 0 0;
}

#duck-pic {
  padding: 0  !important;
}

/* Links */
.txt-link-red a {
  color: #C1342D;
  text-decoration: underline;
}

.txt-link-white a {
  color: #fff;
  text-decoration: underline;
}

/* Backgrounds */
.bg-red {
  background-color: #C1342D;
  color: #fff;
  width: auto;
}

.bg-grey {
  background-color: #F3F3F3;
  width: auto;
}

.bg-white {
  background-color: #fff;
  width: auto;
}

/* Sections */
.boxy {

}

.boxy a {
  color: #6d6d6d        !important;
  font-family: 'Roboto' !important;
}

.boxy hr {
  border: 2px solid #ffd600  !important;
  padding: 0;
  margin: 0 0 5px;
}

/*Modules */
.mod-contain {
  border-radius: 5px  !important;
  color: #6d6d6d      !important;
  min-height: 10em    !important;
  padding: 0 1em .1em !important;
}

/* Footer*/
#footer {
  color: #6d6d6d;
  padding: 15px 0;
}
